Read text file and put into dataframe for further process

In [1]:
import pandas as pd 
raw = pd.read_csv('day2.txt',header=None,delim_whitespace=True)
df = pd.DataFrame(raw[0].str.split('-',1).tolist(),columns=['least','most'])
df['letters'] = raw[1].replace({':':''}, regex=True)
df['passcodes'] = raw[2]
df.least = df.least.astype(int)
df.most = df.most.astype(int)
df

     least  most letters             passcodes
0        4     5       m                 mmpth
1        1     7       r           rszchrrrzgr
2        2     5       w            dgqtwwkwwc
3       10    11       w        ldslpwbbqwpwtd
4        3     4       s                 sszss
..     ...   ...     ...                   ...
995      8     9       d             ntgdwtdmh
996      2     3       g                  gggl
997     19    20       q  qqqqqxqqqqqqqqqqqqwd
998      4    11       n      ljgdnkgftmsvntnn
999     16    19       t  tttttttttttttttttttt

[1000 rows x 4 columns]

Part One Solution

In [2]:
valid1 = []
for i,j in enumerate(df.passcodes):
    count = 0
    for k in j:
        if(df.letters[i] == k): count += 1 # count how many times the letter appears in the passcode
    if(df.least[i] <= count <= df.most[i]): valid1.append(True)
    else: valid1.append(False)

df['valid1'] = valid1

In [3]:
df.valid1.value_counts() # Finally count the seperated values between True and False only to find the True

True     591
False    409
Name: valid1, dtype: int64

Part Two Solution

In [4]:
valid2 = [] # store valid passwords by using booleans
for i,j in enumerate(df.passcodes): # Since the question said letter appears on ANY two position BUT not apear on BOTH positions.
    if(df.letters[i] == j[df.least[i]-1] and df.letters[i] != j[df.most[i]-1]): # True when letter appeared in the first number but not on the second 
        valid2.append(True)
    elif(df.letters[i] != j[df.least[i]-1] and df.letters[i] == j[df.most[i]-1]): # True when letter appeared in the second number but not on the first 
        valid2.append(True)
    else: 
        valid2.append(False)
df['valid2'] = valid2 # create a new column data with rows of bools

In [5]:
df.valid2.value_counts() # Finally count the seperated values between True and False only to find the True

False    665
True     335
Name: valid2, dtype: int64